<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board_reply_ReplyAnonymity">

<select id="id_check" resultType="kr.co.useful.login.domain.LoginVO">
select ename from tbl_anonymity_reply where empno=#{empno}
</select>

<select id="list" parameterType="int" resultType="kr.co.useful.board.domain.ReplyVO">
select serial,rno,replyid,replytext,regdate from tbl_anonymity_reply where serial=#{serial} order by rno desc
</select>

<select id="select" resultType="kr.co.useful.board.domain.ReplyVO">
select serial,rno,replytext from tbl_anonymity_reply where rno=#{rno} and serial=#{serial}
</select>

<insert id="create" parameterType="kr.co.useful.board.domain.ReplyVO">
insert into tbl_anonymity_reply (serial,rno,replyid,replytext) values(#{serial},tbl_reply_seq.nextval,#{replyid},#{replytext})
</insert>

<update id="update">
update tbl_anonymity_reply set replytext=#{replytext} where rno=#{rno} and serial=#{serial}
</update>

<delete id="delete">
delete from tbl_anonymity_reply where rno=#{rno} and serial=#{serial}
</delete>

<select id="count" resultType="int">
select count(*) from tbl_anonymity_reply where rno=#{rno} and serial=#{serial}
</select>

<select id="getbno" resultType="int">
select serial from tbl_anonymity_reply where rno=#{rno}
</select>

</mapper>
