<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="anonymity">

<select id="pass_check" resultType="String">
select pass from tbl_anonymity where serial=#{serial}
</select>

<insert id="create">
insert into tbl_anonymity (serial,title,pass,content)
values (tbl_anonymity_seq.nextval,#{title},#{pass},#{content})
</insert>

<select id="read" resultType="kr.co.useful.board.domain.AnonymityVO">
select serial,title,pass,content,regdate,viewcnt from tbl_anonymity where serial=#{serial}
</select>

<update id="update">
update tbl_anonymity set title=#{title},content=#{content} where serial=#{serial}
</update>

<update id="viewcnt">
update tbl_anonymity set viewcnt=viewcnt+1 where serial=#{serial}
</update>

<delete id="delete">
delete from tbl_anonymity where serial=#{serial}
</delete>

<select id="readAll" resultType="kr.co.useful.board.domain.AnonymityVO">
select * from tbl_anonymity order by serial desc
</select>

<select id="Count" resultType="int">
select count(*) from tbl_anonymity;
</select>

<select id="main_list_cout" resultType="kr.co.useful.board.domain.AnonymityVO">
select * from (select * from tbl_anonymity order by serial desc)where rownum between 1and 5
</select>

<select id="listSearch" resultType="kr.co.useful.board.domain.AnonymityVO">
select serial,title,content,regdate,viewcnt from tbl_anonymity
<include refid="Search"/>
order by serial desc
</select>

<select id="listcount" resultType="int">
select count(*) from tbl_anonymity
<include refid="Search"/>
order by serial desc
</select>





<sql id="Search">

<if test="searchType!=null">
<if test="searchType=='t'.toString()">
where title like '%'||#{keyword}||'%'
</if>

<if test="searchType=='w'.toString()">
where writer like '%'||#{keyword}||'%'
</if>

<if test="searchType=='c'.toString()">
where content like '%'||#{keyword}||'%'
</if>

</if>

</sql>

</mapper>