<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

<insert id="create">
insert into tbl_board (serial,title,writer,content)
values (tbl_board_seq.nextval,#{title},#{writer},#{content})
</insert>

<select id="read" resultType="kr.co.useful.board.domain.BoardVO">
select serial,title,writer,content,regdate,viewcnt from tbl_board where serial=#{serial}
</select>

<update id="update">
update tbl_board set title=#{title},content=#{content} where serial=#{serial}
</update>

<delete id="delete">
delete from tbl_board where serial=#{serial}
</delete>

<select id="readAll" resultType="kr.co.useful.board.domain.BoardVO">
select * from tb1_board order by serial desc
</select>

<select id="Count" resultType="int">
select count(*) from tb1_baord;
</select>

<select id="listSearch" resultType="kr.co.useful.board.domain.BoardVO">
select serial,title,writer,content,regdate,viewcnt from tbl_board
<include refid="Search"/>
order by serial desc
</select>

<select id="listcount" resultType="int">
select count(*) from tbl_board
<include refid="Search"/>
order by serial desc
</select>





<sql id="Search">

<if test="searchType!=null">
<if test="searchType=='t'">
where title like '%'||#{keyword}||'%'
</if>

<if test="searchType=='w'">
where writer like '%'||#{keyword}||'%'
</if>

<if test="searchType=='c'">
where content like '%'||#{keyword}||'%'
</if>

</if>

</sql>


</mapper>