<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

<select id="savaFile_download" resultType="String">
select savefilename from tbl_board where serial=#{serial}
</select>

<insert id="create">
<if test="fileSize==0">
insert into tbl_board (serial,title,writer,empno,content)
values (tbl_board_seq.nextval,#{title},#{writer},#{empno},#{content})
</if>
<if test="fileSize!=0">
insert into tbl_board (serial,title,writer,empno,content,originalfileName,saveFileName,fileSize)
values (tbl_board_seq.nextval,#{title},#{writer},#{empno},#{content},#{originalfileName},#{saveFileName},#{fileSize})
</if>

</insert>

<!-- <insert id="create"> 백본
insert into tbl_board (serial,title,writer,empno,content)
values (tbl_board_seq.nextval,#{title},#{writer},#{empno},#{content})
</insert> -->

<insert id="upload">
insert into tbl_file (filenum,oname,filename,filesize) values(tbl_file_seq.nextval,#{originalfileName},#{saveFileName},#{fileSize})
</insert>

<select id="read" resultType="kr.co.useful.board.domain.BoardVO">
select serial,title,writer,empno,content,regdate,viewcnt,originalfileName,saveFileName,fileSize from tbl_board where serial=#{serial}
</select>

<!-- <select id="update_select" resultType="kr.co.useful.board.domain.BoardVO">
select serial,title,writer,empno,content,rgdate,viewcnt from tbl_board,tbl_emp where serial=#{serial} and tbl_board.empno=tbl_emp.empno
</select> -->

<!-- <update id="update"> 나중에 업데이트 테이블 2개 사용 알아보기
update tbl_board,tbl_emp set title=#{title},content=#{content} where serial=#{serial} and tbl_board.empno=tbl_emp.empno
</update> -->

<update id="update">
update tbl_board set title=#{title},content=#{content}
<if test="originalfileName!=null">
,originalfileName=#{originalfileName},saveFileName=#{saveFileName},fileSize=#{fileSize}
</if>
 where serial=#{serial} and empno=#{empno}
</update>

<delete id="delete">
delete from tbl_board where serial=#{serial}
</delete>

<select id="readAll" resultType="kr.co.useful.board.domain.BoardVO">
select * from tbl_board order by serial desc
</select>

<select id="Count" resultType="int">
select count(*) from tbl_baord;
</select>

<select id="listSearch" resultType="kr.co.useful.board.domain.BoardVO">
select serial, title, writer, empno, content, regdate, viewcnt, (select count(*) from tbl_reply where tbl_reply.serial=tbl_board.serial) replycnt,
originalfileName,saveFileName,fileSize
      from tbl_board 
<include refid="Search"/>
order by serial desc
</select>

<!-- <select id="listSearch" resultType="kr.co.useful.board.domain.BoardVO">
SELECT SERIAL,TITLE,WRITER,CONTENT,REGDATE,viewcnt from tbl_board
<include refid="Search"/>
order by serial desc
</select> -->

<!-- <select id="listSearch2" resultType="kr.co.useful.board.domain.BoardVO">
SELECT b.SERIAL,b.TITLE,b.WRITER,b.CONTENT,b.REGDATE,c.viewcnt from tbl_board
<include refid="Search"/>
order by serial desc
</select> -->



<select id="listcount" resultType="int">
select count(*) from tbl_board
<include refid="Search"/>
order by serial desc
</select>

<update id="viewcnt" parameterType="int">
update tbl_board set viewcnt=viewcnt+1
where serial=#{serial}
</update>

<select id="select_cut_list" resultType="kr.co.useful.board.domain.BoardVO">
select * from (select * from tbl_board order by serial desc) where rownum between 1 and 5
</select>

<!-- <select id="reply_cout" resultType="int">
select b.serial,b.title,b.writer,b.empno,b.content,b.regdate,b.viewcnt,c.replycnt from tbl_board b,(select serial,count(rno) replycnt from tbl_reply group by serial) c where b.serial=c.serial
</select> -->

<sql id="Search">

<if test="searchType!=null">
<if test="searchType=='t'.toString()">
where title like '%'||#{keyword}||'%'
</if>

<if test="searchType=='w'.toString()">
where writer like '%'||#{keyword}||'%'
</if>

<if test="searchType=='c'.toString()">
where content like '%'||#{keyword}||'%'
</if>

</if>

</sql>


</mapper>