<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice">

	<select id="mainlist" resultType="kr.co.useful.board.domain.NoticeVO">
	select title,content,regdate,viewcnt,empno from tbl_notice order by serial  desc
	</select>
	
	<!-- 게시물 선택보기 -->
    <select id="selectRead" resultType="kr.co.useful.board.domain.NoticeVO">
    SELECT SERIAL,TITLE,WRITER,CONTENT,REGDATE,viewcnt,empno FROM TBL_NOTICE WHERE SERIAL=#{serial}
    </select>
    <!-- 게시물 전체보기 -->
    <select id="listAll" resultType="kr.co.useful.board.domain.NoticeVO">
    SELECT SERIAL,TITLE,WRITER,CONTENT,REGDATE,viewcnt,empno FROM TBL_NOTICE ORDER BY SERIAL DESC
    </select>
    <!-- 게시물 업데이트 -->
    <update id="update">
    UPDATE TBL_NOTICE SET TITLE=#{title},CONTENT=#{content} WHERE SERIAL=#{serial} and empno=#{empno}
    </update>
    <!-- 게시물등록 -->
    <insert id="insert" parameterType="kr.co.useful.board.domain.NoticeVO">
    INSERT INTO TBL_NOTICE(SERIAL,empno,TITLE,WRITER,CONTENT) 
    VALUES(tbl_notice_seq.nextval,#{empno},#{title},#{writer},#{content})
    </insert>
    
    <!-- 조회수 카운트 -->
    <update id="viewcnt">
     UPDATE TBL_NOTICE SET VIEWCNT=VIEWCNT+1 WHERE SERIAL=#{serial}
     </update>
      
      
      <select id="main_list_cut" resultType="kr.co.useful.board.domain.NoticeVO">
      select * from (select * from TBL_NOTICE order by serial desc) where rownum between 1and 5
      </select>
    
    <!-- 게시물 삭제 -->
    <delete id="delete" parameterType="kr.co.useful.board.domain.NoticeVO">
    DELETE FROM TBL_NOTICE WHERE SERIAL=#{serial} and empno=#{empno}
    </delete>
    
    <select id="count" resultType="int">
    SELECT COUNT(*) FROM TBL_NOTICE
    </select>
    
    <select id="listSearch" resultType="kr.co.useful.board.domain.NoticeVO">
    SELECT SERIAL,TITLE,WRITER,CONTENT,REGDATE,viewcnt from tbl_notice
    <include refid="Search"/>
    order by serial desc
    </select>
    
    <select id="listcount" resultType="int">
    select count(*) from tbl_notice 
    <include refid="Search"/>
    order by serial desc
    </select>
    
 <!--   <sql id="Search">
    <if test="searchType!=null">
    <if test="searchType=='t'">
    and title like concat("%",#{keyword},"%")
    </if>
     <if test="searchType=='w'">
    and writer like concat("%",#{keyword},"%")
    </if>
     <if test="searchType=='c'">
    and content like concat("%",#{keyword},"%")
    </if>
    </if>
    </sql>  -->
    
   <sql id="Search">

<if test="searchType!=null">
<if test="searchType=='t'.toString()">
where title like '%'||#{keyword}||'%'
</if>

<if test="searchType=='w'.toString()">
where writer like '%'||#{keyword}||'%'
</if>

<if test="searchType=='c'.toString()">
where content like '%'||#{keyword}||'%'
</if>

</if>

</sql> 
    
</mapper>
