<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reply">

<select id="listpage" resultType="kr.co.useful.board.domain.ReplyVO">
SELECT SERIAL,REPLYID,REPLYTEXT,REGDATE
FROM  tbl_reply where serial=#{serial}
<!-- TBL_REPLY , tbl_board WHERE TBL_REPLY.serial=tbl_board.SERIAL
 AND TBL_BOARD=#{serial}  -->
ORDER BY SERIAL DESC
</select>

<select id="listcount" resultType="int">
SELECT COUNT(*) FROM TBL_REPLY , TBL_BOARD WHERE TBL_REPLY.SERIAL=TBL_BOARD.SERIAL
and TBL_BOARD=#{serial}
</select>

<select id="count">
SELECT COUNT(*) FROM TBL_REPLY WHERE SERIAL=#{serial}
</select>

<insert id="create" parameterType="kr.co.useful.board.domain.ReplyVO">
INSERT INTO TBL_REPLY SERIAL,REPLYID,REPLYTEXT,REGDATE VALUES(tbl_reply_seq.nextval,#{replyid},#{replytext},sysdate)
</insert>

<update id="update" parameterType="kr.co.useful.board.domain.ReplyVO">
update tbl_reply set REPLYTEXT=#{replytext},REGDATE=sysdate where serial=#{serial}
</update>

<delete id="delete" parameterType="int">
DELETE FROM TBL_REPLY WHERE SERIAL=#{serial}
</delete>

</mapper>