<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="booking">

   <!-- 각 회의실에 따른 리스트 : 예약중인것:checked가 승인 -->
   <select id="listOfNum" resultType="Booking">
     select serial, roomno, beginday, begin, end, content, booker, empno, checked from tbl_reservation
     where checked='승인'
     and roomno=#{roomno}
     order by serial desc
   </select>
   
   
  <select id="listOfNum2" resultType="Booking">
     select serial, roomno, beginday, begin, end, content, booker, empno, checked from tbl_reservation
     where checked='승인'
     and roomno=#{roomno}
     	<if test="searchType != null">
			<if test="searchType == 'w'.toString()">and booker like '%'||#{keyword}||'%'</if>
			<if test="searchType == 'day'.toString() ">and beginday like '%'||#{keyword}||'%'</if>
		</if>
     order by serial desc
   </select>
   
   
   	<!-- 각 회의실에 따른 페이지 리스트 수 -->
	<select id="countOKlist" resultType="int">
		select count(*) from
		tbl_reservation 
        where checked='승인'
        and roomno=#{roomno}
	</select>
   
   <!--내가 한 등록리스트 -->
   <select id="myBooking" resultType="Booking">
      select serial,roomno, beginday, begin, end, content, booker, empno, checked from tbl_reservation
     where empno=#{empno}
      order by serial desc
      
   </select>
   
    <!--내가 한 등록리스트 -->
   <select id="myBooking2" resultType="Booking">
      select serial, roomno, beginday, begin, end, content, booker, empno, checked from tbl_reservation
     where empno=#{empno}
     
     <if test="checked!=null">
     and checked=#{checked}
     </if>
   
      order by serial desc
      
   </select>
   
   
      	<!--  내 예약 페이지 리스트 수 -->
	<select id="countMylist" resultType="int">
		select count(*) from
		tbl_reservation 
        where empno=#{empno}
	</select>
   
   
   <!-- 관리자가 보는 등록리스트 -->
   <select id="allBooking" resultType="Booking">
     select * from tbl_reservation
      order by serial desc
   </select>
  
     <!-- 관리자가 보는 등록리스트 -->
   <select id="allBooking2" resultType="Booking">
     select * from tbl_reservation
      <if test="checked!=null">
     where checked=#{checked}
     </if>
      order by serial desc
   </select>
     
      	<!--관리자가 보는 페이지 리스트 수 -->
	<select id="prelist" resultType="int">
		select count(*) from
		tbl_reservation 
	</select>
	
   <!--  예약삭제-->
   <delete id="delete">
      delete from tbl_reservation
       where serial=#{serial}
  
   </delete>
  
  <!-- 예약등록 -->
    <insert id="insert">
       insert into tbl_reservation (serial, roomno, beginday, begin, end, content, booker, empno, checked)
         values (tbl_reservation_seq.nextval, #{roomno}, #{beginday}, #{begin}, #{end}, #{content}, #{booker}, #{empno}, '대기')
    </insert>
  
  <!-- 예약취소 -->
    <delete id="cancel">
       delete from tbl_reservation 
       where serial=#{serial}
    </delete>
    
    
    <!--승인  -->
   <update id="checkYes">
      update tbl_reservation set checked='승인'
      where serial=#{serial}   
   </update>
   
   
   <!--승인 거절-->
   <update id="checkNo">
      update tbl_reservation set checked='거절'
      where serial=#{serial}   
   </update>
   
	<!-- 검색 리스트 수 -->
	<select id="listSearchCount" resultType="int">
		select count(serial) from
		tbl_reservation
	</select>
	
	<select id="oneBooking" resultType="Booking">
	select serial, roomno, beginday, begin, end, content, booker, empno, checked from tbl_reservation
     where serial=#{serial}
	</select>
   

</mapper>
