<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="manager">
<!-- 
	manager_Mapper.xml 
	작성자 : 박지혜
	작성일자 : 2016-12-01
 -->
 <!-- 직원목록출력 -->
  <select id="emplist" resultType="map">
    select emp.empno, emp.ename, dept.dname, emp.phone, emp.position
  	from (select * from tbl_emp ) emp, tbl_dept dept
  	where emp.deptno=dept.deptno
  	order by emp.empno
  </select>
  
 <!-- 직원목록 검색후 출력 -->
  <select id="emplistSearch" resultType="map">
  	select empno,ename,dname,phone,position
  	from (select emp.empno, emp.ename, dept.dname, emp.phone, emp.position
  			from (select * from tbl_emp ) emp, tbl_dept dept
  			where emp.deptno=dept.deptno)
  	<if test="searchType != null">
  		<if test="searchType =='divGbn'.toString()">
  		<!-- if문 명시적사용 -->
  		</if>
  		<if test="searchType =='name'.toString()">
  		where ename like '%'||#{keyword}||'%'
  		</if>
  		<if test="searchType =='no'.toString()">
  		where empno like '%'||#{keyword}||'%'
  		</if>
  		<if test="searchType =='dept'.toString()">
  		where dname like '%'||#{keyword}||'%'
  		</if>
  		<if test="searchType =='posi'.toString()">
  		where position like '%'||#{keyword}||'%'
  		</if>
  		<if test="searchType =='phone'.toString()">
  		where phone like '%'||#{keyword}||'%'
  		</if>
  	</if>
  	order by empno
  </select>
  
  <!-- 신규사원등록 -->
  <insert id="emp_insert">
  	insert into tbl_emp (empno,ename,pass,phone,address,hiredate,deptno,position,account,bank,email,leave,ssn)
  		values(#{empno},#{ename},#{pass},#{phone},#{address},#{hiredate},#{deptno},#{position},#{account},#{bank},#{email},15,#{ssn})
  </insert>
  
  <!-- 사원조회 -->
  <select id="emp_select" resultType="kr.co.useful.manager.domain.EmpVO">
  	select * from tbl_emp where empno=#{empno} 
  </select>
  
  
  <select id="emp_select_include_dname" resultType="kr.co.useful.manager.domain.EmpVO">
  	select * from tbl_emp a,tbl_dept b where a.deptno=b.deptno and empno=#{empno} 
  </select>
  
  <!-- 사원세부사항수정 -->
  <update id="emp_update">
  	update tbl_emp set ename=#{ename},phone=#{phone},address=#{address},hiredate=#{hiredate},deptno=#{deptno},position=#{position},account=#{account},bank=#{bank},email=#{email} where empno=#{empno} 
  </update>
  
  <!-- 사원삭제 -->
  <delete id="emp_delete">
  	delete from tbl_emp where empno=#{empno}
  </delete>
 
  
  <select id="commute_emplist_all" resultType="kr.co.useful.manager.domain.CommuteVO">
  	select a.empno,a.ename,b.dname,a.login,a.logout,a.checked,a.serial
  	from (select emp.empno,emp.ename, emp.deptno,cmt.login,cmt.logout,cmt.checked,cmt.serial
 		 	from tbl_emp emp,(select * from tbl_commute where login between to_date(#{startdate}, 'YYYYMMDD') and to_date(#{enddate}, 'YYYYMMDD')+1) cmt
 		 	where emp.empno=cmt.empno) a, tbl_dept b
  	where a.deptno=b.deptno
  	order by a.empno, a.login
  </select>
  
  <select id="commute_emplist_empno" resultType="kr.co.useful.manager.domain.CommuteVO">
    select a.empno,a.ename,b.dname,a.login,a.logout,a.checked,a.serial
  	from (select emp.empno,emp.ename, emp.deptno,cmt.login,cmt.logout,cmt.checked,cmt.serial
 		 	from tbl_emp emp,(select * from tbl_commute where empno=#{empno} and login between to_date(#{startdate}, 'YYYYMMDD') and to_date(#{enddate}, 'YYYYMMDD')+1 ) cmt
 		 	where emp.empno=cmt.empno) a, tbl_dept b
  	where a.deptno=b.deptno
  	order by a.empno
  </select>
  
  <select id="commute_emplist_deptno" resultType="kr.co.useful.manager.domain.CommuteVO">
    select a.empno,a.ename,b.dname,a.login,a.logout,a.checked,a.serial
  	from (select emp.empno,emp.ename, emp.deptno,cmt.login,cmt.logout,cmt.checked,cmt.serial
 		 	from tbl_emp emp,(select * from tbl_commute where empno in(select empno from tbl_emp where deptno=#{deptno})
 				and login between to_date(#{startdate}, 'YYYYMMDD') and to_date(#{enddate}, 'YYYYMMDD')+1) cmt
 		 	where emp.empno=cmt.empno) a, tbl_dept b
  	where a.deptno=b.deptno
  	order by a.empno
  </select>
  
  <select id="commute_emplist_ename" resultType="kr.co.useful.manager.domain.CommuteVO">
 	select a.empno,a.ename,b.dname,a.login,a.logout,a.checked,a.serial
  	from (select emp.empno,emp.ename, emp.deptno,cmt.login,cmt.logout,cmt.checked,cmt.serial
 		 	from tbl_emp emp,( select * from tbl_commute where empno in(select empno from tbl_emp where ename=#{ename})
  				and login between to_date(#{startdate}, 'YYYYMMDD') and to_date(#{enddate}, 'YYYYMMDD')+1) cmt
 		 	where emp.empno=cmt.empno) a, tbl_dept b
  	where a.deptno=b.deptno
  	order by a.empno
  </select>
  
  <update id="commute_update">
  	update tbl_commute set login=to_date(#{login  },'YYYY-MM-DD HH24:MI:SS')
  	<if test="logout != null">
  		,logout=to_date(#{logout},'YYYY-MM-DD HH24:MI:SS')
  	</if>
  	,checked=#{checked} where serial=#{serial } 
  </update>

  <select id="commute_dept" resultType="kr.co.useful.manager.domain.CommuteVO">
    select a.empno,a.ename,b.dname,a.login,a.logout,a.checked,a.serial
  	from (select emp.empno,emp.ename, emp.deptno,cmt.login,cmt.logout,cmt.checked,cmt.serial
 		 	from tbl_emp emp,(select * from tbl_commute where 
 		 			<if test="empno!=null">
 		 			empno=#{empno} and 
 		 			</if>
 		 			to_char(login, 'YYYYMM')=#{login} ) cmt
 		 	where emp.empno=cmt.empno) a, tbl_dept b
  	where a.deptno=b.deptno 
  	order by a.empno
  </select>
  <select id="commute_monthly_list" resultType="kr.co.useful.manager.domain.CommuteVO">
   select * from tbl_commute where empno in(select empno from tbl_emp 
 		 			<if test="deptno!=0">where deptno=#{deptno} </if>
 		 			 )  and 	to_char(login, 'YYYYMMDD')=#{login}
  	order by empno
  </select>
  
  <select id="search_ename_from_dept" resultType="int">
  	select empno from tbl_emp 
  	<if test="deptno != 0">
  	where deptno=#{deptno}
  	</if>
  </select>
    
    <select id="leave_list_search" resultType="kr.co.useful.manager.domain.LeaveVO">
  	select lea.empno,emp.ename,emp.dname,emp.hiredate,lea.basic,lea.used,lea.rest
  	from tbl_leave lea,
  		(select b.empno,b.ename,a.dname,b.hiredate
  		 from tbl_dept a,(select empno,ename,deptno,hiredate
  			from tbl_emp
  			<where>
  			<if test="empno!=null">
  			empno=#{empno}
  			</if>
  			<if test="ename!=null ">
  			and ename=#{ename}
  			</if>
  			<if test="deptno!=0">
  			and deptno=#{deptno}
  			</if>
  			</where>) b
  		where a.deptno=b.deptno) emp
  	where lea.empno=emp.empno
  	order by lea.empno
  </select>
  
  <update id="leave_List_Update">
  	update tbl_leave set basic=#{basic},used=#{used},rest=#{rest} where empno=#{empno}
  </update>
  
  <select id="commute_Monthly_search_oneday" resultType="kr.co.useful.manager.domain.CommuteVO">
  	select a.dname,b.ename,b.empno,b.login,b.logout,b.checked
  	from tbl_dept a,(select emp.deptno,emp.ename,emp.empno,com.serial,com.login,com.logout,com.checked
  		from tbl_emp emp ,(select * from tbl_commute 
  		<where>
  		<if test="checked!=null">
  			checked=#{checked}
  		</if>
  		<if test="checked==null">
  			checked in("결근","휴가","출장","조퇴")
  		</if>
  	 		and to_char(login, 'YYYYMMDD')=#{login}
  		</where>) com
  	 	where emp.empno=com.empno) b
  	 where a.deptno=b.deptno
  	 order by b.empno
  </select>
  
  
  <select id="emp_search" resultType="kr.co.useful.manager.domain.EmpVO">
  select empno,ename,dname,position 
  from (select empno,ename,dname,position
   from tbl_emp emp, tbl_dept dept
   where emp.deptno=dept.deptno) 
  	
  	<if test="searchType != null">
  		<if test="searchType =='divGbn'.toString()">
  		<!-- if문 명시적사용 -->
  		</if>
  		<if test="searchType =='ename'.toString()">
  		where ename like '%'||#{keyword}||'%'
  		</if>
  		<if test="searchType =='empno'.toString()">
  		where empno like '%'||#{keyword}||'%'
  		</if>
  		<if test="searchType =='dname'.toString()">
  		where dname like '%'||#{keyword}||'%'
  		</if>
  		<if test="searchType =='position'.toString()">
  		where position like '%'||#{keyword}||'%'
  		</if>
  	</if>
  	order by empno
  </select>
  <!-- 리스트 -->
  <select id="salary_List" resultType="kr.co.useful.manager.domain.SalaryVO">
  select sal.serial,emp.empno,emp.ename,emp.dname,emp.position,sal.basicpay,sal.grossincome,sal.deductions,sal.adjustedIncome,sal.paymentdate,sal.paymentmonth
  from tbl_salary sal,
   (select empno,ename,dname,position
  	from tbl_dept a,
  		(select empno,ename,deptno,position
  		from tbl_emp
  		<where>
  			<if test="empno!=null">
  			 empno like '%'||#{empno}||'%'
  			</if>
  			<if test="ename!=null">
  			 and ename like '%'||#{ename}||'%'
  			</if>
  			<if test="deptno!=0">
  			 and deptno = #{deptno}
  			</if>
  			<if test="position!=null">
  			 and position like '%'||#{position}||'%'
  			</if>
  		</where>) b
  	where a.deptno=b.deptno) emp
  where emp.empno=sal.empno and sal.paymentdate between to_date(#{startdate}, 'YYYYMMDD') and to_date(#{enddate}, 'YYYYMMDD')+1
  order by emp.empno desc, sal.paymentdate desc
  </select>
  
    <insert id="salary_Insert">
  	insert into tbl_salary (serial,empno,paymentdate,paymentmonth,basicpay,car,meal,childcare,
  			otherpay,national,health,employment,care,incometax,localtax,grossincome,deductions,adjustedIncome)
  		values(tbl_salary_seq.nextval,#{empno},#{paymentdate},#{paymentmonth},#{basicpay},#{car},#{meal},#{childcare},
  					#{otherpay},#{national},#{health},#{employment},#{care},#{incometax},#{localtax},#{grossincome},#{deductions},#{adjustedIncome})
  	</insert>
  	
  	<select id="salary_update_form" resultType="kr.co.useful.manager.domain.SalaryVO">
  	select a.serial, empno, paymentdate, paymentmonth,basicpay, car, meal, childcare,
  				otherpay, national, health, employment, care, incometax, localtax, grossincome, deductions, adjustedIncome, ename, dname, position
  	from tbl_dept dept, 
  		(select sal.serial, sal.empno, sal.paymentdate, sal.paymentmonth,sal.basicpay, sal.car, sal.meal, sal.childcare,
  				sal.otherpay, sal.national, sal.health, sal.employment, sal.care, sal.incometax, sal.localtax, sal.grossincome, sal.deductions, sal.adjustedIncome, sal.ename, sal.deptno, sal.position
  		from tbl_emp emp,(select * from tbl_salary where serial=#{serial}) sal
  		where emp.empno=sal.empno) selc
  	where dept.detpno=selc.deptno	
  
  		
  	
  	</select>
  	<update id="salary_Update">
  	update tbl_salary set paymentdate=#{paymentdate},paymentmonth=#{paymentmonth},basicpay=#{basicpay},car=#{car},meal=#{meal},childcare=#{childcare},
  					otherpay=#{otherpay},national=#{national},health=#{health},employment=#{employment},care=#{care},Incometax=#{Incometax},localtax=#{localtax},
  					grossincome=#{grossincome},deductions=#{deductions},AdjustedIncome=#{AdjustedIncome}) 
  				where serial=#{serial}
  	</update>
  	
  	
  	<delete id="salary_Delete">
  		delete from tbl_salary where serial=#{serial}
  	</delete>
  	
	
</mapper>
