<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="manager">
  <select id="emplist" resultType="map">
  	select empno,ename,deptno,position,phone from tbl_emp order by empno
  </select>
  
  <select id="emplistSearch" resultType="map">
  	select empno,ename,deptno,position,phone from tbl_emp
  	
  	<if test="searchType != null">
  		<if test="searchType =='divGbn'.toString()">
		
  		</if>
  		<if test="searchType =='name'.toString()">
  		where ename like '%'||#{keyword}||'%'
  		</if>
  		<if test="searchType =='no'.toString()">
  		where empno like '%'||#{keyword}||'%'
  		</if>
  		<if test="searchType =='dept'.toString()">
  		where deptno like '%'||#{keyword}||'%'
  		</if>
  		<if test="searchType =='po'.toString()">
  		where position like '%'||#{keyword}||'%'
  		</if>
  		<if test="searchType =='phone'.toString()">
  		where phone like '%'||#{keyword}||'%'
  		</if>
  	
  	</if>
  	order by empno
  </select>
</mapper>
