<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="manager">
<!-- 
	manager_Mapper.xml 
	작성자 : 박지혜
	작성일자 : 2016-12-01
 -->	
  <select id="emplist" resultType="map">
  	select empno,ename,deptno,position,phone from tbl_emp order by empno
  </select>
  
  <select id="emplistSearch" resultType="map">
  	select empno,ename,deptno,position,phone from tbl_emp
  	
  	<if test="searchType != null">
  		<if test="searchType =='divGbn'.toString()">
  		<!-- if문 명시적사용 -->
  		</if>
  		<if test="searchType =='name'.toString()">
  		where ename like '%'||#{keyword}||'%'
  		</if>
  		<if test="searchType =='no'.toString()">
  		where empno like '%'||#{keyword}||'%'
  		</if>
  		<if test="searchType =='dept'.toString()">
  		where deptno like '%'||#{keyword}||'%'
  		</if>
  		<if test="searchType =='posi'.toString()">
  		where position like '%'||#{keyword}||'%'
  		</if>
  		<if test="searchType =='phone'.toString()">
  		where phone like '%'||#{keyword}||'%'
  		</if>
  	
  	</if>
  	order by empno
  </select>
  
  <insert id="emp_insert">
  	insert into tbl_emp (empno,ename,pass,phone,address,hiredate,deptno,position,account,bank,email,leave,ssn)
  		values(#{empno},#{ename},#{pass},#{phone},#{address},#{hiredate},#{deptno},#{position},#{account},#{bank},#{email},15,#{ssn})
  </insert>
  
  <select id="emp_select" resultType="kr.co.useful.manager.domain.EmpVO">
  	select * from tbl_emp where empno=#{empno} 
  </select>
  
  <select id="emp_select_include_dname" resultType="kr.co.useful.manager.domain.EmpVO">
  	select * from tbl_emp a,tbl_dept b where a.deptno=b.deptno and empno=#{empno} 
  </select>
  
  <update id="emp_update">
  	update tbl_emp set ename=#{ename},phone=#{phone},address=#{address},hiredate=#{hiredate},deptno=#{deptno},position=#{position},account=#{account},bank=#{bank},email=#{email} where empno=#{empno} 
  </update>
  
  <delete id="emp_delete">
  	delete from tbl_emp where empno=#{empno}
  </delete>
 
  
  <select id="commute_emplist_all" resultType="kr.co.useful.manager.domain.CommuteVO">
  	select a.empno,a.ename,b.dname,a.login,a.logout,a.checked,a.serial
  	from (select emp.empno,emp.ename, emp.deptno,cmt.login,cmt.logout,cmt.checked,cmt.serial
 		 	from tbl_emp emp,(select * from tbl_commute where login between to_date(#{startdate}, 'YYYYMMDD') and to_date(#{enddate}, 'YYYYMMDD')+1) cmt
 		 	where emp.empno=cmt.empno) a, tbl_dept b
  	where a.deptno=b.deptno
  	order by a.empno
  </select>
  
  <select id="commute_emplist_empno" resultType="kr.co.useful.manager.domain.CommuteVO">
    select a.empno,a.ename,b.dname,a.login,a.logout,a.checked,a.serial
  	from (select emp.empno,emp.ename, emp.deptno,cmt.login,cmt.logout,cmt.checked,cmt.serial
 		 	from tbl_emp emp,(select * from tbl_commute where empno=#{empno} and login between to_date(#{startdate}, 'YYYYMMDD') and to_date(#{enddate}, 'YYYYMMDD')+1 ) cmt
 		 	where emp.empno=cmt.empno) a, tbl_dept b
  	where a.deptno=b.deptno
  	order by a.empno
  </select>
  
  <select id="commute_emplist_deptno" resultType="kr.co.useful.manager.domain.CommuteVO">
    select a.empno,a.ename,b.dname,a.login,a.logout,a.checked,a.serial
  	from (select emp.empno,emp.ename, emp.deptno,cmt.login,cmt.logout,cmt.checked,cmt.serial
 		 	from tbl_emp emp,(select * from tbl_commute where empno in(select empno from tbl_emp where deptno=#{deptno})
 				and login between to_date(#{startdate}, 'YYYYMMDD') and to_date(#{enddate}, 'YYYYMMDD')+1) cmt
 		 	where emp.empno=cmt.empno) a, tbl_dept b
  	where a.deptno=b.deptno
  	order by a.empno
  </select>
  
  <select id="commute_emplist_ename" resultType="kr.co.useful.manager.domain.CommuteVO">
 	select a.empno,a.ename,b.dname,a.login,a.logout,a.checked,a.serial
  	from (select emp.empno,emp.ename, emp.deptno,cmt.login,cmt.logout,cmt.checked,cmt.serial
 		 	from tbl_emp emp,( select * from tbl_commute where empno in(select empno from tbl_emp where ename=#{ename})
  				and login between to_date(#{startdate}, 'YYYYMMDD') and to_date(#{enddate}, 'YYYYMMDD')+1) cmt
 		 	where emp.empno=cmt.empno) a, tbl_dept b
  	where a.deptno=b.deptno
  	order by a.empno
  </select>
  
  <update id="commute_update">
  	update tbl_commute set login=to_date(#{login  },'YYYY-MM-DD HH24:MI:SS')
  	<if test="logout != null">
  		,logout=to_date(#{logout},'YYYY-MM-DD HH24:MI:SS')
  	</if>
  	,checked=#{checked} where serial=#{serial } 
  </update>

  <select id="commute_dept" resultType="kr.co.useful.manager.domain.CommuteVO">
    select a.empno,a.ename,b.dname,a.login,a.logout,a.checked,a.serial
  	from (select emp.empno,emp.ename, emp.deptno,cmt.login,cmt.logout,cmt.checked,cmt.serial
 		 	from tbl_emp emp,(select * from tbl_commute where 
 		 			<if test="empno!=null">
 		 			empno=#{empno} and 
 		 			</if>
 		 			to_char(login, 'YYYYMM')=#{login} ) cmt
 		 	where emp.empno=cmt.empno) a, tbl_dept b
  	where a.deptno=b.deptno 
  	order by a.empno
  </select>
  <select id="commute_monthly_list" resultType="kr.co.useful.manager.domain.CommuteVO">
   select * from tbl_commute where empno in(select empno from tbl_emp 
 		 			<if test="deptno!=0">where deptno=#{deptno} </if>
 		 			 )  and 	to_char(login, 'YYYYMMDD')=#{login}
  	order by empno
  </select>
  
  <select id="search_ename_from_dept" resultType="int">
  	select empno from tbl_emp 
  	<if test="deptno != 0">
  	where deptno=#{deptno}
  	</if>
  </select>
    
    <select id="leave_list_search" resultType="kr.co.useful.manager.domain.LeaveVO">
  	select lea.empno,emp.ename,emp.dname,emp.hiredate,lea.basic,lea.used,lea.rest
  	from tbl_leave lea,
  		(select b.empno,b.ename,a.dname,b.hiredate
  		 from tbl_dept a,(select empno,ename,deptno,hiredate
  			from tbl_emp
  			<where>
  			<if test="empno!=null">
  			empno=#{empno}
  			</if>
  			<if test="ename!=null ">
  			and ename=#{ename}
  			</if>
  			<if test="deptno!=0">
  			and deptno=#{deptno}
  			</if>
  			</where>) b
  		where a.deptno=b.deptno) emp
  	where lea.empno=emp.empno
  	order by lea.empno
  </select>
  
  <update id="leave_List_Update">
  	update tbl_leave set basic=#{basic},used=#{used},rest=#{rest} where empno=#{empno}
  </update>
</mapper>
