<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage">
  	<select id="select" resultType="kr.co.useful.manager.domain.EmpVO">
  		select ename,pass,ssn,deptno,position,email,phone,address,bank,account,hiredate,regdate
  		from tbl_emp
  		where empno=#{empno}
  	</select>
  	
  	<update id="update">
  		update tbl_emp set pass=#{pass},ssn=#{ssn},email=#{email},phone=#{phone},address=#{address},
  		bank=#{bank},account=#{account}
  		where empno=#{empno}
  	</update>
  	
  	<select id="select_pass" resultType="kr.co.useful.manager.domain.EmpVO">
  		select pass
  		from tbl_emp
  		where empno=#{empno}
  	</select>
</mapper>
