<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="recipien_note">
	
	<select id="list_note" resultType="kr.co.useful.note.domain.RecipientVO"> <!--자신 메일내역조회  -->
	select serial,mynotename,mynoteid,reciid,reciname,recontent,recipientdate from tbl_recipient_note where mynoteid=#{mynoteid} order by serial desc
	</select>
	
	 <insert id="create_send_note" parameterType="kr.co.useful.note.domain.SendVO"> <!-- 쪽지보내기  -->
	insert into tbl_send_note (serial,mynote,sendman,sendcontent)
	 values(tbl_send_note_seq.nextval,#{mynote},#{sendman},#{sendcontent})
	</insert>
	
	<!-- <insert id="create_note_recipient" parameterType="kr.co.useful.note.domain.RecipientVO">
	insert into tbl_recipient_note (serial,mynotename,mynoteid,reciid,reciname,recontent) values(tbl_recipient_note_seq.nextval,#{mynotename},#{mynoteid},#{reciid},#{reciname},#{recontent})
	</insert> -->
	<insert id="create_note_recipient" parameterType="kr.co.useful.note.domain.RecipientVO">
insert into tbl_recipient_note (serial,mynotename,mynoteid,reciid,reciname,recontent,recipientdate) values(tbl_recipient_note_seq.nextval,#{mynotename},#{mynoteid},#{reciid},#{reciname},#{recontent})
	</insert>
	
	<select id="select_note" resultType="kr.co.useful.note.domain.RecipientVO"> <!-- 쪽지 선택해서 보기  -->
	select serial,mynoteid,reciid,recontent,recipientdate from tbl_recipient_note where mynoteid=#{mynoteid} and serial=#{serial}
	</select>
	
	<delete id="delete_note" parameterType="kr.co.useful.note.domain.RecipientVO"><!--  메일삭제 -->
	delete from tbl_recipient_note where serial=#{serial} and mynote=#{mynote}
	</delete>
	
	
	<select id="search_note" resultType="kr.co.useful.note.domain.RecipientVO"> <!-- 쪽지검색  -->
	select serial,mynotename,mynoteid,reciid,reciname,recontent,recipientdate from tbl_recipient_note
	where mynoteid=#{mynoteid}
	<include refid="search"/>
	
	order by serial desc
	</select>
	
	<select id="search_Count_note" resultType="int"> <!-- 검색쪽지 카운트  -->
	select count(*) from tbl_recipient_note
	<include refid="search"/>
	where reciname=#{reciname}
	</select>
	
	
	
	
	
	<sql id="search">
	
	<if test="cri.searchType!=null">
	<if test="cri.searchType=='reciname'">
	and reciname like '%'||#{cri.keyword}||'%'
	</if>
	<if test="cri.searchType=='recontent'">
	and recontent like '%'||#{cri.keyword}||'%'
	</if>
	</if>
	
	</sql>
	
</mapper>
