<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="send_note">
	
	<select id="sendemp" resultType="int">
	select empno from tbl_emp where ename=#{ename}
	</select>
	
	<select id="list_note" resultType="kr.co.useful.note.domain.SendVO"> <!--자신 메일내역조회  -->
	select serial,sendman,sendcontent,senddate,mynote from tbl_send_note where myempno=#{myempno} order by serial desc
	</select>
	
	<insert id="create_note" parameterType="kr.co.useful.note.domain.SendVO"> <!--쪽지보내기  -->
	insert into tbl_send_note (serial,mynote,myempno,sendman,sendcontent)
	 values(tbl_send_note_seq.nextval,#{mynote},#{myempno},#{sendman},#{sendcontent})
	</insert>
	
	<insert id="create_note_recipient" parameterType="kr.co.useful.note.domain.RecipientVO">
	insert into tbl_recipient_note (serial,mynotename,mynoteid,reciid,reciname,recontent) values(tbl_recipient_note_seq.nextval,#{mynotename},#{mynoteid},#{reciid},#{reciname},#{recontent})
	</insert>
	
	<select id="select_note" resultType="kr.co.useful.note.domain.SendVO"> <!--쪽지 선택해서 보기  -->
	select serial,sendman,sendcontent,senddate,mynote from tbl_send_note where myempno=#{myempno} and serial=#{serial}
	</select>
	
	<delete id="delete_note" parameterType="kr.co.useful.note.domain.SendVO"> <!-- 메일삭제 -->
	delete from tbl_send_note where serial=#{serial} and myempno=#{myempno}
	</delete>
	
	<select id="count_note" resultType="int"> <!-- 자기 쪽지 전체 카운트  -->
	select count(*) from tbl_send_note where mynote=#{mynote}
	</select>
	
	<select id="search_note" resultType="kr.co.useful.note.domain.SendVO"> <!-- 쪽지검색  -->
	select serial,sendman,sendcontent,senddate from tbl_send_note
	where myempno=#{myempno}
	<include refid="search"/>
	order by serial desc
	</select>
	
	<select id="search_Count_note" resultType="int"> <!-- 검색쪽지 카운트  -->
	select count(*) from tbl_send_note
	where myempno=#{myempno}
	<include refid="search"/>
	
	</select>
	
	<select id="note_find_user" resultType="kr.co.useful.note.domain.NoteFindUserVO">
	select dname,position,ename,phone,email from tbl_emp,tbl_dept 
	where tbl_emp.deptno = tbl_dept.deptno
	<if test="searchType!=null">
	<if test="searchType=='dname'">
	and dname like '%'||#{keyword}||'%'
	</if>
	<if test="searchType=='ename'">
	and ename like '%'||#{keyword}||'%'
	</if>
	</if>
	
	
	</select>
	
	
	
	<sql id="search">
	
	<if test="cri.searchType!=null">
	<if test="cri.searchType=='sendman'">
	and sendman like '%'||#{cri.keyword}||'%'
	</if>
	<if test="cri.searchType=='sendcontent'">
	and sendcontent like '%'||#{cri.keyword}||'%'
	</if>
	</if>
	
	</sql>
	
	<sql id="finduser">
	<if test="searchType!=null">
	<if test="searchType=='dname'">
	and dname like '%'||#{keyword}||'%'
	</if>
	<if test="searchType=='ename'">
	and ename like '%'||#{keyword}||'%'
	</if>
	</if>
	
	
	</sql>
	
</mapper>
