<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="kr.co.useful.organization.domain.OrganizationVO" alias="Organization"/>
		<typeAlias type="kr.co.useful.approval.domain.ApprovalVO" alias="Approval"/>
		<typeAlias type="kr.co.useful.approval.domain.ApprovalRestVO" alias="ApprovalRest"/>
		 <typeAlias type="kr.co.useful.sharetask.domain.ShareTaskVO" alias="Sharetask"/>
	</typeAliases>
</configuration>
